<%= form_with(model: receipe_info) do |form| %>
  <% if receipe_info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(receipe_info.errors.count, "error") %> prohibited this receipe_info from being saved:</h2>

      <ul>
        <% receipe_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :ingredients, style: "display: block" %>
    <%= form.text_area :ingredients %>
  </div>

  <div>
    <%= form.label :recipes_id, style: "display: block" %>
    <%= form.collection_select :recipes_id, Recipe.order(:title), :id,:title, include_blank: true %>
  </div>

  <div class="field">
  <%= form.label :main_image %>
  <%= form.file_field :main_image %>
  </div>

  <div class="field">
    <%= form.label :other_images %>
    <%= form.file_field :other_images, multiple: true %>
  </div>

  <div>
    <%= form.label :posted_at, style: "display: block" %>
    <%= form.datetime_field :posted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
