  <table class="w3-table w3-striped">
    <thead>
      <th>Commenter:</th>
      <th>Comment:</th>
      <th>Action</th>
    </thead>
    <tr>
      <td>
        <%= comment.commenter %>
      </td>
      <td>
        <%= comment.body %>
      </td>
      <td>
        <% if comment.main_image.attached? %>
          <%= image_tag comment.main_image.variant(:thumb) %>
        <% end %>
      </td>
      <td>
        <%= link_to "Destroy", [comment.recipe, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
      </td>
      
      <td>
        <%= link_to 'Reply', new_recipe_comment_path(@recipe, parent_id: comment.id), remote: true, class: 'd-block' %>
          </div>
        </div>
        <% if comment.replies.any? %>
          <% comment.replies.each do |reply| %> 
            <%= render partial: 'comments/reply', locals: { reply: reply } %>
          <% end %>
        <% end %>
      </td>

      <td>  <div id="reply-form-<%= comment.id %>"></div> </td>
    </tr>
    

  
  </table>
